## Abdelrhman Ahmed Fathy 
## ID 20221441784

## Assignment 2 | Dockerfile and Data Analysis with Popular Books Dataset

In [26]:
import pandas as pd

# Load the dataset into the notebook
df = pd.read_csv('D:\\shiko desktop\\Desktop\\data_analysis_project\\books.csv')

# Inspect the dataset
print(df.head())

   book_id  goodreads_book_id  best_book_id   work_id  books_count       isbn  \
0        1            2767052       2767052   2792775          272  439023483
1        2                  3             3   4640799          491  439554934
2        3              41865         41865   3212258          226  316015849
3        6           11870085      11870085  16827462          226  525478817
4       12           13335037      13335037  13155899          210   62024035

         isbn13                      authors  original_publication_year  \
0  9.780439e+12              Suzanne Collins                     2008.0
1  9.780440e+12  J.K. Rowling, Mary GrandPr√©                     1997.0
2  9.780316e+12              Stephenie Meyer                     2005.0
3  9.780525e+12                   John Green                     2012.0
4  9.780062e+12                Veronica Roth                     2011.0

                             original_title  ... ratings_count  \
0                          The Hunger Games  ...       4780653
1  Harry Potter and the Philosopher's Stone  ...       4602479
2                                  Twilight  ...       3866839
3                    The Fault in Our Stars  ...       2346404
4                                 Divergent  ...       1903563

  work_ratings_count  work_text_reviews_count  ratings_1  ratings_2  \
0            4942365                   155254      66715     127936
1            4800065                    75867      75504     101676
2            3916824                    95009     456191     436802
3            2478609                   140739      47994      92723
4            2216814                   101023      36315      82870

   ratings_3  ratings_4  ratings_5  \
0     560092    1481305    2706317
1     455024    1156318    3011543
2     793319     875073    1355439
3     327550     698471    1311871
4     310297     673028    1114304

                                           image_url  \
0  https://images.gr-assets.com/books/1447303603m...
1  https://images.gr-assets.com/books/1474154022m...
2  https://images.gr-assets.com/books/1361039443m...
3  https://images.gr-assets.com/books/1360206420m...
4  https://images.gr-assets.com/books/1328559506m...

                                     small_image_url
0  https://images.gr-assets.com/books/1447303603s...
1  https://images.gr-assets.com/books/1474154022s...
2  https://images.gr-assets.com/books/1361039443s...
3  https://images.gr-assets.com/books/1360206420s...
4  https://images.gr-assets.com/books/1328559506s...

[5 rows x 23 columns]

## Objective
For this assignment, you will be working with the Popular Books Dataset from Kaggle. The dataset can be
accessed from the following link: [Popular Books Dataset]
Your task is to create a Jupyter Notebook that includes data cleaning and preprocessing steps, followed
by an analysis focused on the Harry Potter book series.

## Data Cleaning and Preprocessing

In [27]:
# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

# Drop any duplicate entries based on the 'Book Title'
df = df.drop_duplicates(subset=['original_title'])

Missing Values:
book_id                        0
goodreads_book_id              0
best_book_id                   0
work_id                        0
books_count                    0
isbn                          52
isbn13                        44
authors                        0
original_publication_year      3
original_title                52
title                          0
language_code                109
average_rating                 0
ratings_count                  0
work_ratings_count             0
work_text_reviews_count        0
ratings_1                      0
ratings_2                      0
ratings_3                      0
ratings_4                      0
ratings_5                      0
image_url                      0
small_image_url                0
dtype: int64

In [31]:
# Drop rows with missing values
df.dropna(inplace=True)
print(df.isnull().sum())

book_id                      0
goodreads_book_id            0
best_book_id                 0
work_id                      0
books_count                  0
isbn                         0
isbn13                       0
authors                      0
original_publication_year    0
original_title               0
title                        0
language_code                0
average_rating               0
ratings_count                0
work_ratings_count           0
work_text_reviews_count      0
ratings_1                    0
ratings_2                    0
ratings_3                    0
ratings_4                    0
ratings_5                    0
image_url                    0
small_image_url              0
dtype: int64

In [30]:
# Filter the dataset to focus on the Harry Potter series
df_hp = df[df['original_title'].str.contains('Harry Potter', case=False, na=False)]

# Check the unique book titles in the Harry Potter series
print("Unique Harry Potter Books:")
print(df_hp['original_title'].unique())

Unique Harry Potter Books:
["Harry Potter and the Philosopher's Stone"
 'Harry Potter and the Prisoner of Azkaban'
 'Harry Potter and the Order of the Phoenix'
 'Harry Potter and the Chamber of Secrets'
 'Harry Potter and the Goblet of Fire'
 'Harry Potter and the Deathly Hallows'
 'Harry Potter and the Half-Blood Prince'
 'Complete Harry Potter Boxed Set'
 'Harry Potter Collection (Harry Potter, #1-6)'
 'The Magical Worlds of Harry Potter: A Treasury of Myths, Legends, and Fascinating Facts']

## The most selling books within the Harry Potter series.

In [38]:
# Group by 'original_title' and sum up the 'ratings_count' to find total ratings for each book
most_selling_books = df_hp.groupby('original_title')['ratings_count'].sum().sort_values(ascending=False)

# Print the top selling books
print("Most Selling Books in Harry Potter Series:")
print(most_selling_books.head())

Most Selling Books in Harry Potter Series:
original_title
Harry Potter and the Philosopher's Stone    4602479
Harry Potter and the Prisoner of Azkaban    1832823
Harry Potter and the Chamber of Secrets     1779331
Harry Potter and the Goblet of Fire         1753043
Harry Potter and the Deathly Hallows        1746574
Name: ratings_count, dtype: int64

## Calculate the average rating of the Harry Potter books.

In [36]:
average_rating_hp = df_hp['average_rating'].mean()

# Print the average rating
print(f"Average rating of the Harry Potter books: {average_rating_hp:.2f}")

Average rating of the Harry Potter books: 4.49